@using NoteSharingCenter.Entity
@model List<Note>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomePage.cshtml";
}


<div class="col-sm-12 col-md-2 ">
    <aside class="sidebar mt-2 ml-2">
        <h5 class="font-weight-bold">Filters</h5>
        <ul class="nav nav-list flex-column">
            <li class="nav-item"><a class="nav-link text-dark" href="/Home/MostLiked">Top Rate</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="/Home/Index">Last Posts</a></li>
        </ul>
    </aside>
    @Html.Partial("_PartialCategories")
</div>

<div class="col-sm-12 col-md-10 pr-4">
    <div class="row">
        @foreach (Note item in Model)
        {
            <div class="col-md-6 col-lg-4 mb-5 appear-animation " data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-note-id="@item.Id">
                <div class="card">
                    <img class="card-img-top" src="~/Content/img/@item.NoteImageFilename" alt="@item.Title">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6"><h4 class="card-title mb-1 text-4 font-weight-bold text-color-primary">@item.Title</h4></div>
                            <div class="col-6">
                                <p class="text-right black mb-0"><span><i class="far fa-clock text-color-primary"></i></span> @item.ModifiedOn.ToString("dd.MM.yy")</p>
                                <p class="text-right black pt-0"><span><i class="far fa-user text-color-primary"></i></span> @item.Owner.Name</p>
                            </div>
                        </div>

                        <p class="card-text">
                            @if (string.IsNullOrEmpty(item.Text) == false && item.Text.Length > 130)
                            {
                                @(item.Text.Substring(0, 130) + "...")
                            }
                            else
                            {
                                @item.Text;
                            }
                        </p>
                        <a href="~/Home/NoteDetail/@item.Id" class="read-more text-color-primary font-weight-semibold text-2">Read More <i class="fas fa-angle-right position-relative top-1 ml-1"></i></a>
                        <div class="text-right">
                            <button type="button" class="mb-1 mt-1 mr-1 btn btn-outline btn-info btn-sm" data-liked="false" data-note-id="@item.Id">
                                <span class="far fa-star like-star"></span> 
                                <span class="like-count">@item.LikeCount</span>
                            </button>
                            <a href="~/Home/NoteDetail/@item.Id" class="mb-1 mt-1 mr-1 btn btn-outline btn-info btn-sm"><i class="far fa-comments"></i> Comments</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

