@model NoteSharingCenter.Entity.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_HomePage.cshtml";
}

<div class="container">
    <br />
    <br />

    <div class="row">

        <div class="col-md-10">
            <div class="col-md-5">

                <h4>Category</h4>
                <hr />
                <h6><b>@Html.DisplayNameFor(model => model.Title) : </b>@Model.Title</h6>
                <h6><b>@Html.DisplayNameFor(model => model.Description) : </b>@Model.Description</h6>
                <h6><b>@Html.DisplayNameFor(model => model.CreatedOn) : </b>@Model.CreatedOn</h6>
                <h6><b>@Html.DisplayNameFor(model => model.ModifiedOn) : </b>@Model.ModifiedOn</h6>
                <h6><b>@Html.DisplayNameFor(model => model.ModifiedUsername) : </b>@Model.ModifiedUsername</h6>

                <br /><br />
                <br />
                <br /><br />
                <br />
                <br /><br /><br />
               
            </div>

        </div>

        <div class="col-md-2">
            <a href="~/Category/Edit/@Model.Id" class="btn btn-outline-success btn-lg btn-block">Edit Category</a>
            <a href="~/Category/Index" class="btn btn-outline-warning btn-sm btn-block" onclick="return confirm('Hesabınızı silmek istediğinize emin misiniz?')">Cancel</a>
        </div>



    </div>
</div>
